/* pc_style.css */

.swiper-pagination-bullet {
  background-color: rgba(0,0,0,0) !important;
  color: #dfdfdf;
  font-size: 20px;
  margin-bottom: 20px !important;
  opacity: 1 !important;
  width: 30px !important;
  height: 30px !important;
  margin-bottom: 10px !important;
}
.swiper-pagination-bullet-active {
  color: #f15b22 !important;
  background-color: #fff !important; 
  width: 30px !important;
  height: 30px !important;
  margin-bottom: 10px !important;
}

/* 메인메뉴 */
#header_wrap {
  position: fixed;
  background: rgba(255,255,255,0.6);
  z-index: 98;
  width: 100%;
  height: 80px;
  transition-duration: 0.5s;
  /* outline: 1px solid red; */
}
#logo {
  position: absolute;
  left: 2%; top:16px;
}
#gnb {
  width: 100%;
  /* margin: 0 auto; */
  margin-top: 23px;
  text-align: center;
  font-size: 0px;
  /* outline: 1px solid green; */
}
#gnb ul > li{
  display: inline-block;
  padding-right: 1.8%;
  font-size: 18px;
  height: 100%;
  /* outline: 1px solid green; */
}
#gnb ul > li > a {
  font-weight: bold;
}
#gnb ul > li > a:hover {
  color: #f15b22;
  transition-duration: 0.3s;
}
#gnb ul > li:last-child {
  padding-right: 0;
}
#gnb .depth1 > li > .depth2 {
  position: relative;
  opacity: 0;
  /* outline: 1px solid green; */
}
#gnb .depth1 > li > .depth2.show {
  top:0;
  opacity: 1;
  transition-duration: 0.3s;
}
.depth2_bg {
  position: absolute;
  z-index: -1;
  top: 80px; left: 0;
  width: 100%;
  height: 150px;
  background: rgba(255,255,255,1);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  opacity: 0;
}
.depth2_bg.show {
  opacity: 1;
  transition-duration: 0.3s;
}
#gnb .depth1 > li > .depth2 > li {
  display: table;
  /* outline: 1px solid red; */
  font-size: 14px;
  padding-top: 10px;
}
#gnb .depth1 > li > .depth2 > li:first-child {
  margin-top: 20px;
}
#gnb .depth1 > li > .depth2 > li > a {
  font-weight: bold;
  color: #333;
}
#gnb .depth1 > li > .depth2 > li:hover > a {
  color: #f15b22;
}
#util {
  position: absolute;
  right:2%; top:23px;
}
#util ul > li{
  display: inline-block;
  padding-right: 15px;
} 
#util ul > li > a {
  font-size: 18px;
  color: #666;
}
#category_btn {
  position: relative;
  top: 3px; left: 4px;
}

/* 섹션 */
/* s1 */
#s1 > .title {
  position: absolute;
  bottom: 60px; left: 60px;
}
.title > p {
  font-size: 77px;
  color: #fff;
  font-weight: bold;
}
.title > p > span {
  color: #f15b22;
}
.title > p:first-child {
  font-size: 126px;
}


/* s2 */
#s2 {
  font-size: 30px;
}
#s2_info {
  width: 860px;
  margin: 0 auto;
  /* outline: 1px solid green; */
  padding-top: 8%;
  padding-bottom: 2.5%;
}

#s2_info .right {
  float: right;
  margin-top: -45px;
  /* outline: 1px solid red; */
}
#s2_menu {
  width: 860px;
  /* outline: 1px solid green; */
  margin: 0 auto;
  padding-bottom: 2.5%;
}
#s2_menu > ul {
  display: inline-flex;
  align-items: flex-end;
}
#s2_menu > ul > li {
  padding-right: 20px;
}
#s2_menu > ul > li:last-child {
  padding-right: 0px;
}
#s2_menu > ul > li > a {
  display: inline-block;
  width: 200px; height: 200px;
  text-align: center;
  line-height: 300px;
  border: 3px solid rgba(255,255,255,0);
  /* outline: 1px solid yellow; */
}
#s2_menu > ul > li > a:hover {
  border: 3px solid #fff;
  transition-duration: 0.5s;
}
#s2_menu > ul > li > p {
  text-align: center;
}
.arrow {
  margin-left: 10px;
  font-size: 28px;
}

/* 투명박스공통 */
.menubox > div {
  display: flex; 
  justify-content: space-between;
  width: 480px;
  height: 276px;
  border: 3px solid #fff;
  color: #fff;
  font-size: 60px;
  transition-duration: 0.3s;
}
.menubox > div > span {
  margin-right: 30px;
}
.menubox > div > h4 {
  align-self: flex-end;
  margin-left: 30px;
  margin-bottom: 30px;
}
.menubox:hover > div {
  text-shadow: 0px 1px 5px rgba(0,0,0,0.4);
  background: rgba(255,255,255,0.2);
}

/* s3 */
#s3 .s3_left {
  width: 51%;
  min-width: 600px;
  /* outline: 1px solid green; */
 }
 #s3 .s3_right {
  align-self: flex-end;
  width: 40%;
  min-width: 350px;
  /* outline: 1px solid red; */
 }
#s3_box1 {
  /* outline: 1px solid yellow; */
  flex: 2;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: 130px;
  overflow: hidden;
  white-space: nowrap;
}
#s3_box1 > .t_left {
  /* outline: 1px solid yellow; */
  flex: 1 1 40%;
}
#s3_box1 > .t_right {
  flex: 1 1 50%;
  /* outline: 1px solid red; */
}
#s3_box1 .t_left > h2 {
  font-size: 6vw;
  margin-bottom: -20px;
}
#s3_box1 .t_left > h3 {
  font-size: 3vw;
}
#s3_box1 > .t_right > p {
  font-size: 1.2vw;
  text-align: right;
  /* outline: 1px solid green; */
}
#s3_box2 {
  flex: 3 3 50%;
  height: 478px;
  margin-top: 30px;
  background: rgba(255,255,255,0.9);
  color: #318fd9;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  margin-bottom: 150px;
  overflow: hidden;
}
#s3_box2 h3 {
  flex: 1;
  align-self: flex-end;
  font-size: 4vw;
  white-space: nowrap;
  margin-left:13px;
  /* outline: 1px solid red; */
}
@media screen and (max-width:1920px) {
  #s3_box2 .menu1 {
    flex: 3 3 50%;
    margin-top: 7px;
    margin-right: 7px;
    text-align: right;
  }
  
  #s3_box2 > .menu1 > a:first-child,
  #s3_box2 > .menu1 > a:nth-child(3) {
    margin-right: 3px;
  }
}
@media screen and (min-width:1921px) {
  #s3_box2 .menu1 {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 7px;
    margin-right: 7px;
    /* outline: 1px solid red; */
    margin-left: 10px;
  }
  #s3_box2 > .menu1 > a:first-child,
  #s3_box2 > .menu1 > a:nth-child(3) {
    margin-right: 8px;
  }
}
#s3_box2 > .menu1 > a > img {
  width: 190px;
}
#s3_box2 .menu1 > a:hover > img {
  background: rgba(49,143,217,0.2);
  transition-duration: 0.4s;
}
#s3_box3 {
  /* outline: 1px solid orange; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 150px;
}
#s3_box3 > .menubox {
  margin-top: 30px;
}

/* s4 */
#s4 > .container {
  width: 80%;
  height: 275px;
}
#s4_notice {
  background: rgba(255,255,255,0.9);
  width: 50%;
  height: 100%;
  margin-right: 60px;
}
#s4_notice > h2 {
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 3.5%;
}
#s4_notice > ul {
  width: 100%;
  line-height: 1.5em;
  padding-left: 3.5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* outline: 1px solid red; */
}
#s4_notice a {
  font-size: 0.6vw;
  /* color: #666; */
} 
#s4_notice span {
  margin-top: 3px;
  font-size: 0.6vw;
  float: right;
  color: #666;
  padding-right: 3.5%;
}
#s4_menu {
  position: absolute;
  /* float: right; */
  width: 50%;
  bottom: 0; right: 0px;
}
#s4_menu > .menubox > div{
  width: 70%;
  margin-right: 0;
  float: right;
}

/* footer */
#main_footer > .container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer_logo {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer_info {
  flex: 1 1 40%;
  /* outline: 1px solid red; */
  margin-left: 8%;
}
#sns_icons {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sns_icons > a {
  margin-right: 20px;
}
#footer_info .enter {
  display: none;
}