/* main_style.css */
/* 초기화 */
*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
ul {list-style-type: none;}
a { 
    text-decoration: none;
    color: #000;
  }
html, body{ height: 100%; background: #f0f0f0;}
body {
  font-family: 'Noto Sans KR', sans-serif;
}
.section{
  height: 100%;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* 카테고리메뉴 */
#category {
  position: fixed;
  z-index: 99;
  width: 82%; height: 400%;
  background: #fff;
  /* display: none; */
  left: -100%;
  opacity: 0;
  transition-duration: 0.5s;
}
#category.ct_show {
  opacity: 1;
  left: 0;
  /* display: block; */
}
.nav_container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: flex-end;
  /* align-items: flex-end; */
  
}
.nav_container > dl {
  flex-basis: 300px;
  /* height: 14.28%; */
  /* flex: 0 0 20%; */
  /* outline: 1px solid red; */
  text-align: center;
  margin: 30px 50px 50px 50px;
}
.nav_container > dl > dt {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #999;
}
.nav_container > dl > dd {
  margin-bottom: 1em;
} 
.nav_container > dl a:hover {
  transition-duration: 0.3s;
  color: #f15b22;
}

/* 메인메뉴 */
#header_wrap {
  background: rgba(255,255,255,1);
}
#util {
  position: absolute;
  right:2%; top:23px;
}
#util > ul > li > img {
  width: 20px;
  height: 20px;
}
#util ul > li{
  display: inline-block;
  padding-right: 15px;
} 
#util ul > li > a {
  font-size: 18px;
  color: #666;
}
#category_btn {
  position: relative;
  top: 3px; left: 4px;
}
#category_btn > img {
  transition-duration: 0.4s;
}
#category_btn > .deg {
  transform: rotate(135deg);
}


/* footer */
address {
  font-style: normal;
  margin-top: 25px;
}
#main_footer {
  height: 16%;
  background: #282828;
  border-top: 3px solid rgba(255,255,255,0.8);
}
#main_footer > .container {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
#footer_logo {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer_info {
  flex: 1 1 40%;
  /* outline: 1px solid red; */
  margin-left: 8%;
  color: #dfdfdf;
  font-size: 14px;
  line-height: 1.6em;
}
#footer_info > a {
  color: #dfdfdf;
}
#footer_info  span {
  margin-left: 1em;
  margin-right: 1em;
}
#sns_icons {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sns_icons > a {
  margin-right: 20px;
}

/* 온라인 상담 페이지 */
.online_container {
  width: 100%;
  height: 84%;
}
#online {
  width: 100%;
  height: 100%;
  padding-top: 150px;
}